@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

header, section, footer {
    padding: 1em;
}

header {
    background-image: url("../img/background.jpg");
    background-size: cover;
    color: #FFF;
}

header a:link, header a:visited,
footer a:link, footer a:visited {
    color: #CCC;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.3s;
}

header a:hover, header a:focus,
footer a:hover, footer a:focus {
    text-decoration: underline;
    color: #FFF;
    background-color: #CC0000;
}

#about img{
    max-height:400px;
    float:left;
    margin-right:1em;
    opacity:1;
    /*transition*/
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}
#about img:hover{
    /*transform*/
    -webkit-transform:scale(1.1, 1.1);
    -moz-transform:scale(1.1, 1.1);
    -ms-transform:scale(1.1, 1.1);
    -o-transform:scale(1.1, 1.1);
    transform:scale(1.1, 1.1);
    /*box-shadow*/
    -webkit-box-shadow:7px 7px 4px rgba(0,0,0,0.5);
    -moz-box-shadow:7px 7px 4px rgba(0,0,0,0.5);
    box-shadow:7px 7px 4px rgba(0,0,0,0.5);
}

#about .imgWrap {
    transition:transform 3s;
}

#about .imgWrap:hover {
    transform-origin: 175px, 175px;
    transform: rotate(720deg);
}

#education {
    clear: both;
}

#about, #projects {
    background-color: #D79207;
    overflow: auto;
}

#education, #contact {
    background-color: #A45D05;
}

footer {
    background-color: #3F2105;
    color: #FFF;
}

.tag-line {
    color: #CCC;
    font-family: 'Condensed', 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: italic;
    font-size: 110%;
}