@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

header, section, footer {
    padding: 1em;
}

header {
    background-image: url("../img/background.jpg");
    background-size: cover;
    color: #FFF;
}

header a:link, header a:visited,
footer a:link, footer a:visited {
    color: #CCC;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

header a:hover, header a:focus,
footer a:hover, footer a:focus {
    text-decoration: underline;
    color: #FFF;
    background-color: #CC0000;
}

#about img {
    max-height: 400px;
    float: left;
    margin-right: 1em;
}

#education {
    clear: both;
}

#about, #projects {
    background-color: #D79207;
}

#education, #contact {
    background-color: #A45D05;
}

footer {
    background-color: #3F2105;
    color: #FFF;
}